In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 23)
pd.set_option('display.max_rows', False)
pd.set_option('display.width', False)
%matplotlib inline

In [69]:
df = pd.read_csv("서울특별시_전월세가_정보_20190916.csv", delimiter = 'kk', encoding = 'CP949', header = None)

C:\Users\Yeonjoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [70]:
df.head()

                                                   0
0  "지번코드","기관코드","일련번호","접수년도","자치구코드","자치구명","법정...
1  "1111010100100740001","3000136","0000457","201...
2  "1111010100100010000","3000136","0000485","201...
3  "1111010100100560041","3000136","0000005","201...
4  "1111010100100500010","3000136","0000505","201...

In [71]:
df[0]=df[0].str.replace(';',',')

In [72]:
df[0]=df[0].str.replace('"','')

In [29]:
#df[0]=df[0].str.replace('"','')

In [75]:
df.head()

                                                   0
0  지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부...
1  1111010100100740001,3000136,0000457,2015,11110...
2  1111010100100010000,3000136,0000485,2015,11110...
3  1111010100100560041,3000136,0000005,2016,11110...
4  1111010100100500010,3000136,0000505,2015,11110...

In [77]:
df1 = df[0].str.split(',',expand=True)

In [80]:
df1 = df1.iloc[:,:22]

In [81]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부번,건물명,층,임대건물코드,임대건물명,임대면적,전월세구분코드,전월세구분,보증금,임대료,계약년도,계약일자,건축년도
1,1111010100100740001,3000136,0000457,2015,11110,종로구,10100,청운동,0074,0001,우진빌딩,2,4,다세대/연립,82.69,1,전세,34000,0,2015,20150623,1991
2,1111010100100010000,3000136,0000485,2015,11110,종로구,10100,청운동,0001,0000,청운벽산빌리지,2,4,다세대/연립,83.61,3,준월세,5000,120,2015,20150703,1988
3,1111010100100560041,3000136,0000005,2016,11110,종로구,10100,청운동,0056,0041,MJ하이빌,3,4,다세대/연립,75,1,전세,35000,0,2015,20150921,2007
4,1111010100100500010,3000136,0000505,2015,11110,종로구,10100,청운동,0050,0010,글로리아파크,2,4,다세대/연립,79.14,1,전세,38000,0,2015,20150822,2002

In [88]:
df1.to_csv('전세.csv', encoding = 'euc-kr' ,index = False, header = False)

In [89]:
test = pd.read_csv('전세.csv', encoding = 'CP949')

C:\Users\Yeonjoo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,11,12,14,15,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [101]:
test.head()

,지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부번,건물명,층,임대건물코드,임대건물명,임대면적,전월세구분코드,전월세구분,보증금,임대료,계약년도,계약일자,건축년도
0,1111010100100740001,3000136,457,2015,11110,종로구,10100,청운동,74.0,1.0,우진빌딩,2,4,다세대/연립,82.69,1,전세,34000,0,2015,20150623,1991
1,1111010100100010000,3000136,485,2015,11110,종로구,10100,청운동,1.0,0.0,청운벽산빌리지,2,4,다세대/연립,83.61,3,준월세,5000,120,2015,20150703,1988
2,1111010100100560041,3000136,5,2016,11110,종로구,10100,청운동,56.0,41.0,MJ하이빌,3,4,다세대/연립,75,1,전세,35000,0,2015,20150921,2007
3,1111010100100500010,3000136,505,2015,11110,종로구,10100,청운동,50.0,10.0,글로리아파크,2,4,다세대/연립,79.14,1,전세,38000,0,2015,20150822,2002
4,1111010100100520018,3000136,637,2015,11110,종로구,10100,청운동,52.0,18.0,귀빈하우스,2,4,다세대/연립,102.4,1,전세,43000,0,2015,20150902,2000

In [102]:
test['전월세구분'].value_counts()

전세        2016400
준월세        873150
준전세        264088
월세         111002
1           10209
3            2039
4            1399
아파트           440
33동)          397
2             168
다세대/연립        168
144.2         129
157.36        125
5              70
57.12          67
           ...
36.19           1
26.1            1
26.7            1
49.01           1
33              1
16.52           1
28.05           1
70.74           1
46              1
26.4            1
50              1
82.6            1
41.34           1
38.83           1
57.19           1
Name: 전월세구분, Length: 141, dtype: int64

In [108]:
test[test['전월세구분']=='전세']['계약년도'].str.slice(start=0, stop=4).astype('float').min()

2007.0

In [106]:
test[test['전월세구분']=='전세']['계약일자'].str.slice(start=0, stop=4).astype('float').max()

2019.0

In [113]:
test1 = test[test['전월세구분']=='전세']

In [119]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016400 entries, 0 to 3280918
Data columns (total 22 columns):
지번코드       object
기관코드       int64
일련번호       int64
접수년도       int64
자치구코드      int64
자치구명       object
법정동코드      int64
법정동명       object
본번         float64
부번         float64
건물명        object
층          object
임대건물코드     object
임대건물명      object
임대면적       object
전월세구분코드    object
전월세구분      object
보증금        object
임대료        object
계약년도       object
계약일자       object
건축년도       object
dtypes: float64(2), int64(5), object(15)
memory usage: 353.8+ MB

In [117]:
test1['계약일자'].astype('int64').min()

20070130

In [118]:
test1['계약일자'].astype('int64').max()

20190620

In [120]:
test1.to_csv('서울시_전세계약_200701_201906.csv', encoding = 'euc-kr' ,index = False, header = True)