<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/final_prepro_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리 (데이터 구분자 정리)

In [0]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 23)
pd.set_option('display.max_rows', False)
pd.set_option('display.width', False)

%matplotlib inline

In [0]:
df = pd.read_csv("서울특별시_전월세가_정보_20190916.csv", delimiter = 'kk', encoding = 'CP949', header = None)

C:\Users\Yeonjoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [0]:
# colab 버전
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
df.head()

                                                   0
0  "지번코드","기관코드","일련번호","접수년도","자치구코드","자치구명","법정...
1  "1111010100100740001","3000136","0000457","201...
2  "1111010100100010000","3000136","0000485","201...
3  "1111010100100560041","3000136","0000005","201...
4  "1111010100100500010","3000136","0000505","201...

In [0]:
df[0]=df[0].str.replace(';',',')
df[0]=df[0].str.replace('"','')

In [0]:
df.head()

                                                   0
0  지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부...
1  1111010100100740001,3000136,0000457,2015,11110...
2  1111010100100010000,3000136,0000485,2015,11110...
3  1111010100100560041,3000136,0000005,2016,11110...
4  1111010100100500010,3000136,0000505,2015,11110...

In [0]:
df1 = df[0].str.split(',',expand=True)

In [0]:
df1 = df1.iloc[:,:22]

In [0]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부번,...,임대건물코드,임대건물명,임대면적,전월세구분코드,전월세구분,보증금,임대료,계약년도,계약일자,건축년도
1,1111010100100740001,3000136,0000457,2015,11110,종로구,10100,청운동,0074,0001,...,4,다세대/연립,82.69,1,전세,34000,0,2015,20150623,1991
2,1111010100100010000,3000136,0000485,2015,11110,종로구,10100,청운동,0001,0000,...,4,다세대/연립,83.61,3,준월세,5000,120,2015,20150703,1988
3,1111010100100560041,3000136,0000005,2016,11110,종로구,10100,청운동,0056,0041,...,4,다세대/연립,75,1,전세,35000,0,2015,20150921,2007
4,1111010100100500010,3000136,0000505,2015,11110,종로구,10100,청운동,0050,0010,...,4,다세대/연립,79.14,1,전세,38000,0,2015,20150822,2002

In [0]:
df2 = df1.rename(columns = df1.iloc[0])

In [0]:
df3 = df2.drop(df2.index[0]).reset_index(drop = True)

# 전세 데이터만 추출

In [0]:
df3['전월세구분코드'].value_counts()

1        2016905
3         873200
4         264319
2         111083
41.85       1472
          ...
56.94          1
80.72          1
36.92          1
45.24          1
36.58          1
Name: 전월세구분코드, Length: 1021, dtype: int64

In [0]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3280921 entries, 0 to 3280920
Data columns (total 22 columns):
지번코드       object
기관코드       object
일련번호       object
접수년도       object
자치구코드      object
자치구명       object
법정동코드      object
법정동명       object
본번         object
부번         object
건물명        object
층          object
임대건물코드     object
임대건물명      object
임대면적       object
전월세구분코드    object
전월세구분      object
보증금        object
임대료        object
계약년도       object
계약일자       object
건축년도       object
dtypes: object(22)
memory usage: 550.7+ MB

In [0]:
전세 = df3[df3['전월세구분'] == '전세']

In [0]:
전세.head()

,지번코드,기관코드,일련번호,접수년도,자치구코드,자치구명,법정동코드,법정동명,본번,부번,...,임대건물코드,임대건물명,임대면적,전월세구분코드,전월세구분,보증금,임대료,계약년도,계약일자,건축년도
0,1111010100100740001,3000136,0000457,2015,11110,종로구,10100,청운동,0074,0001,...,4,다세대/연립,82.69,1,전세,34000,0,2015,20150623,1991
2,1111010100100560041,3000136,0000005,2016,11110,종로구,10100,청운동,0056,0041,...,4,다세대/연립,75,1,전세,35000,0,2015,20150921,2007
3,1111010100100500010,3000136,0000505,2015,11110,종로구,10100,청운동,0050,0010,...,4,다세대/연립,79.14,1,전세,38000,0,2015,20150822,2002
4,1111010100100520018,3000136,0000637,2015,11110,종로구,10100,청운동,0052,0018,...,4,다세대/연립,102.4,1,전세,43000,0,2015,20150902,2000
6,1111010100100520018,3000136,0000129,2018,11110,종로구,10100,청운동,0052,0018,...,4,다세대/연립,102.4,1,전세,43000,0,2015,20150902,2000

In [0]:
전세.to_csv("./seoul_house_200701_201906_final_data.csv" , index=False, encoding = 'utf-8')

In [0]:
for col in 전세:
    print(col , ':' ,  전세[col].unique().size , '/' , 전세[col].size)

지번코드 : 87383 / 2016400
기관코드 : 601 / 2016400
일련번호 : 17709 / 2016400
접수년도 : 10 / 2016400
자치구코드 : 35 / 2016400
자치구명 : 26 / 2016400
법정동코드 : 84 / 2016400
법정동명 : 407 / 2016400
본번 : 1823 / 2016400
부번 : 1331 / 2016400
건물명 : 66330 / 2016400
층 : 74 / 2016400
임대건물코드 : 4 / 2016400
임대건물명 : 4 / 2016400
임대면적 : 17284 / 2016400
전월세구분코드 : 1 / 2016400
전월세구분 : 1 / 2016400
보증금 : 5110 / 2016400
임대료 : 4 / 2016400
계약년도 : 13 / 2016400
계약일자 : 3108 / 2016400
건축년도 : 114 / 2016400

# 분석에 필요한 항목만 추출

In [0]:
new_data = 전세[['지번코드','기관코드','일련번호','접수년도','자치구코드','법정동코드'
               ,'본번','부번','층','임대건물코드','임대면적','계약년도','계약일자','건축년도','보증금']]

In [0]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016400 entries, 0 to 3280918
Data columns (total 15 columns):
지번코드      object
기관코드      object
일련번호      object
접수년도      object
자치구코드     object
법정동코드     object
본번        object
부번        object
층         object
임대건물코드    object
임대면적      object
계약년도      object
계약일자      object
건축년도      object
보증금       object
dtypes: object(15)
memory usage: 246.1+ MB

In [0]:
new_data.count()

지번코드      2016400
기관코드      2016400
일련번호      2016400
접수년도      2016400
자치구코드     2016400
법정동코드     2016400
본번        2016400
부번        2016400
층         2016400
임대건물코드    2016400
임대면적      2016400
계약년도      2016400
계약일자      2016400
건축년도      2016400
보증금       2016400
dtype: int64

In [0]:
#전체 데이터 수치형 변경
data = new_data.apply(pd.to_numeric, errors = 'coerce')

In [0]:
data.head()

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
0,1.111010e+18,3000136,457,2015,11110,10100,74.0,1.0,2.0,4,82.69,2015,20150623,1991.0,34000
2,1.111010e+18,3000136,5,2016,11110,10100,56.0,41.0,3.0,4,75.00,2015,20150921,2007.0,35000
3,1.111010e+18,3000136,505,2015,11110,10100,50.0,10.0,2.0,4,79.14,2015,20150822,2002.0,38000
4,1.111010e+18,3000136,637,2015,11110,10100,52.0,18.0,2.0,4,102.40,2015,20150902,2000.0,43000
6,1.111010e+18,3000136,129,2018,11110,10100,52.0,18.0,2.0,4,102.40,2015,20150902,2000.0,43000

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016400 entries, 0 to 3280918
Data columns (total 15 columns):
지번코드      float64
기관코드      int64
일련번호      int64
접수년도      int64
자치구코드     int64
법정동코드     int64
본번        float64
부번        float64
층         float64
임대건물코드    int64
임대면적      float64
계약년도      int64
계약일자      int64
건축년도      float64
보증금       int64
dtypes: float64(6), int64(9)
memory usage: 246.1 MB

In [0]:
data.count()

지번코드      2016398
기관코드      2016400
일련번호      2016400
접수년도      2016400
자치구코드     2016400
법정동코드     2016400
본번        1487748
부번        1487748
층         1476080
임대건물코드    2016400
임대면적      2016375
계약년도      2016400
계약일자      2016400
건축년도      1974091
보증금       2016400
dtype: int64

# NaN 처리

In [0]:
data[data.층.isnull()]

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
32,1.111010e+09,3000136,620,2013,11110,10100,NaN,NaN,NaN,2,84.86,2013,20131026,1965.0,31000
35,1.111010e+09,3000136,119,2014,11110,10100,NaN,NaN,NaN,2,159.26,2014,20140114,1995.0,35000
61,1.111010e+18,3000136,495,2011,11110,10100,52.0,10.0,NaN,4,95.25,2011,20110917,2001.0,40000
62,1.111010e+18,3000136,549,2011,11110,10100,52.0,5.0,NaN,4,65.59,2011,20110928,2010.0,27000
65,1.111010e+09,3000136,286,2011,11110,10100,NaN,NaN,NaN,2,29.70,2011,20110529,1957.0,5600
66,1.111010e+09,3000136,252,2011,11110,10100,NaN,NaN,NaN,2,53.76,2011,20110502,1991.0,16000
69,1.111010e+09,3000136,386,2012,11110,10100,NaN,NaN,NaN,2,49.50,2011,20110503,1997.0,10500
70,1.111010e+09,3000136,357,2011,11110,10100,NaN,NaN,NaN,2,30.00,2011,20110628,1995.0,5000
71,1.111010e+09,3000136,466,2011,11110,10100,NaN,NaN,NaN,2,100.59,2011,20110915,1997.0,40000
82,1.111010e+09,3000136,591,2015,11110,10100,NaN,NaN,NaN,2,83.61,2015,20151024,1956.0,34000
122,1.111010e+09,3000136,664,2015,11110,10100,NaN,NaN,NaN,2,37.59,2015,20151007,NaN,15000
162,1.111010e+09,3000136,112,2012,11110,10100,NaN,NaN,NaN,2,36.92,2012,20120229,2012.0,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3279285,1.162010e+09,3200161,942,2019,11620,10200,NaN,NaN,NaN,2,18.50,2019,20190531,1996.0,10000
3279850,1.138010e+09,3110042,516,2019,11380,10400,NaN,NaN,NaN,2,30.30,2019,20190612,2007.0,13000
3279851,1.138010e+09,3110042,519,2019,11380,10400,NaN,NaN,NaN,2,16.53,2019,20190611,2019.0,9000
3279862,1.138011e+09,3110045,576,2019,11380,10700,NaN,NaN,NaN,2,66.46,2019,20190415,1989.0,5500
3279863,1.138011e+09,3110045,578,2019,11380,10700,NaN,NaN,NaN,2,65.89,2019,20190513,1969.0,5000
3279868,1.129011e+09,3070143,876,2019,11290,10900,NaN,NaN,NaN,2,18.00,2019,20190612,1998.0,5500
3280414,1.129014e+09,3070145,1079,2019,11290,13900,NaN,NaN,NaN,2,66.47,2019,20190612,1993.0,14000
3280416,1.130510e+09,3080028,722,2019,11305,10100,NaN,NaN,NaN,2,46.96,2019,20190411,1993.0,8000
3280423,1.130510e+09,3080054,805,2019,11305,10300,NaN,NaN,NaN,2,39.60,2012,20120829,1986.0,6000
3280425,1.130510e+09,3080126,690,2019,11305,10100,NaN,NaN,NaN,2,44.20,2019,20190531,1977.0,9000
3280427,1.130510e+09,3080127,709,2019,11305,10100,NaN,NaN,NaN,2,48.06,2019,20190606,NaN,9000
3280446,1.132010e+09,3090048,313,2019,11320,10500,NaN,NaN,NaN,2,103.13,2019,20190420,1991.0,12000

In [0]:
#층이 NaN인경우는 임대건물코드가 2 (단독/다가구) 임으로 1층으로 표시
data['층'] = data['층'].fillna(1.0).astype('int32')

In [0]:
#본번,부번은 없는경우 0으로 표시
data['본번'] = data['본번'].fillna(0.0).astype('int32')
data['부번'] = data['부번'].fillna(0.0).astype('int32')

In [0]:
data.count()

지번코드      2016398
기관코드      2016400
일련번호      2016400
접수년도      2016400
자치구코드     2016400
법정동코드     2016400
본번        2016400
부번        2016400
층         2016400
임대건물코드    2016400
임대면적      2016375
계약년도      2016400
계약일자      2016400
건축년도      1974091
보증금       2016400
dtype: int64

In [0]:
data[data.임대면적.isnull()]

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
24096,1.111017e+18,3000055,254,2011,11110,17300,1,102,1,1,NaN,2011,20110609,1997.0,2500
354691,1.123011e+18,3050055,1235,2013,11230,10600,312,8,1,1,NaN,2013,20131130,2013.0,12000
438925,1.126010e+18,3060040,864,2012,11260,10100,1534,0,1,1,NaN,2012,20120619,2012.0,17000
884218,1.135010e+18,3100189,2006,2013,11350,10300,683,14,1,1,NaN,2013,20131116,2013.0,8000
884219,1.135010e+18,3100189,1959,2013,11350,10300,683,14,1,1,NaN,2013,20131024,2013.0,7800
885340,1.135010e+18,3100189,1816,2013,11350,10300,683,14,1,1,NaN,2013,20131014,2013.0,7500
885347,1.135010e+18,3100189,1928,2013,11350,10300,683,14,1,1,NaN,2013,20131004,2013.0,8000
1136117,1.141012e+18,3120128,97,2013,11410,11600,501,14,1,1,NaN,2013,20130117,2002.0,9000
1157689,1.141012e+18,3120132,712,2011,11410,11800,265,350,1,1,NaN,2011,20110930,2012.0,23000
1214291,1.144012e+18,3130054,1795,2012,11440,12000,490,0,1,1,NaN,2012,20120806,2012.0,70000
1214292,1.144012e+18,3130054,1848,2012,11440,12000,490,0,1,1,NaN,2012,20120709,2012.0,70000
1214293,1.144012e+18,3130054,1846,2012,11440,12000,490,0,1,1,NaN,2012,20120817,2012.0,70000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1481491,1.150010e+18,3150052,246,2014,11500,10300,29,47,1,1,NaN,2014,20140219,2014.0,9500
1483024,1.150010e+18,3150052,1528,2013,11500,10300,143,40,1,1,NaN,2013,20131011,2013.0,11000
1547643,1.150010e+18,3150052,1510,2013,11500,10300,143,40,1,1,NaN,2013,20130831,2013.0,12000
1747988,1.154510e+18,3170051,397,2012,11545,10300,791,40,1,1,NaN,2012,20121115,2012.0,24000
1786726,1.156012e+18,3180047,2307,2012,11560,11700,121,204,1,1,NaN,2012,20121116,2012.0,8500
1786727,1.156012e+18,3180047,2288,2012,11560,11700,121,204,1,1,NaN,2012,20121031,2012.0,9000
1787402,1.156011e+18,3180153,205,2013,11560,10500,103,0,1,1,NaN,2013,20130120,2012.0,8000
1794538,1.156012e+18,3180047,2282,2012,11560,11700,121,204,1,1,NaN,2012,20120921,2012.0,9000
1794539,1.156012e+18,3180047,2236,2012,11560,11700,121,204,1,1,NaN,2012,20120926,2012.0,8000
1794540,1.156012e+18,3180047,2245,2012,11560,11700,121,204,1,1,NaN,2012,20120913,2012.0,8500
2885340,1.174011e+18,3240055,479,2012,11740,10800,199,18,1,1,NaN,2012,20120412,2012.0,11000
2892187,1.174011e+18,3240055,449,2012,11740,10800,199,18,1,1,NaN,2012,20120324,2012.0,11000

In [0]:
data[data.지번코드.isnull()]

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
2679999,NaN,3230250,220,2016,11710,10900,895,0,6,1,97.17,2016,20160407,2016.0,40000
2683101,NaN,3230250,221,2016,11710,10900,895,0,16,1,97.17,2016,20160219,2016.0,47000

In [0]:
data[data.건축년도.isnull()]

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
122,1.111010e+09,3000136,664,2015,11110,10100,0,0,1,2,37.59,2015,20151007,NaN,15000
187,1.111010e+09,3000136,359,2015,11110,10100,0,0,1,2,18.00,2015,20150531,NaN,4000
206,1.111010e+09,3000136,618,2015,11110,10100,0,0,1,2,52.89,2015,20151104,NaN,23000
342,1.111010e+09,3000136,361,2018,11110,10100,0,0,1,2,55.00,2018,20180714,NaN,25000
380,1.111010e+09,3000136,9,2012,11110,10100,0,0,1,2,52.89,2012,20120104,NaN,15000
382,1.111010e+09,3000136,117,2012,11110,10100,0,0,1,2,68.73,2012,20120118,NaN,20000
384,1.111010e+09,3000136,206,2012,11110,10100,0,0,1,2,161.99,2012,20120217,NaN,37000
387,1.111010e+09,3000136,270,2012,11110,10100,0,0,1,2,69.69,2012,20120113,NaN,20000
399,1.111010e+09,3000136,480,2012,11110,10100,0,0,1,2,36.36,2012,20120927,NaN,17000
408,1.111010e+09,3000136,586,2012,11110,10100,0,0,1,2,52.89,2012,20121018,NaN,15000
427,1.111010e+09,3000136,298,2013,11110,10100,0,0,1,2,37.59,2013,20130406,NaN,14500
448,1.111010e+09,3000136,611,2013,11110,10100,0,0,1,2,52.89,2013,20131203,NaN,20000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280729,1.171011e+18,24010,1209,2019,11710,10800,643,1,7,9,53.79,2019,20190106,NaN,32550
3280732,1.171011e+18,24010,1944,2019,11710,10800,643,1,6,9,26.15,2019,20190209,NaN,17640
3280775,1.171011e+18,24010,7027,2018,11710,10800,618,0,8,9,27.53,2018,20180818,NaN,21000
3280811,1.171011e+18,24010,6743,2018,11710,10800,618,0,10,9,47.04,2018,20180724,NaN,31000
3280819,1.171011e+18,11030,4039,2016,11710,10800,618,0,10,9,50.50,2016,20161027,NaN,25000
3280821,1.171011e+18,11030,4212,2016,11710,10800,618,0,10,9,48.93,2016,20161105,NaN,24000
3280822,1.144010e+18,11030,4362,2016,11440,10300,1,48,5,9,16.76,2016,20161111,NaN,12000
3280838,1.156011e+18,11030,650,2017,11560,10800,94,355,5,9,17.90,2016,20161231,NaN,12500
3280876,1.156013e+18,25010,5146,2016,11560,12700,49,4,2,9,26.90,2016,20160812,NaN,16000
3280877,1.156013e+18,25010,5397,2016,11560,12700,49,4,2,9,26.44,2016,20160811,NaN,17000
3280902,1.171011e+18,24010,1144,2018,11710,10800,643,1,6,9,26.15,2018,20180207,NaN,16800
3280914,1.156012e+18,25010,2286,2018,11560,12100,81,0,3,9,38.06,2018,20180301,NaN,24500

In [0]:
data[data['접수년도']!= data['계약년도']]

,지번코드,기관코드,일련번호,접수년도,자치구코드,법정동코드,본번,부번,층,임대건물코드,임대면적,계약년도,계약일자,건축년도,보증금
2,1.111010e+18,3000136,5,2016,11110,10100,56,41,3,4,75.00,2015,20150921,2007.0,35000
6,1.111010e+18,3000136,129,2018,11110,10100,52,18,2,4,102.40,2015,20150902,2000.0,43000
7,1.111010e+18,3000136,38,2016,11110,10100,89,5,3,4,84.73,2015,20151229,2002.0,48000
9,1.111010e+18,3000136,66,2016,11110,10100,56,41,2,4,74.97,2015,20151222,2007.0,35000
13,1.111010e+18,3000136,4,2016,11110,10100,52,4,2,4,162.01,2015,20151118,1995.0,50000
14,1.111010e+18,3000136,14,2016,11110,10100,89,5,1,4,84.73,2015,20151204,2002.0,45000
15,1.111010e+18,3000136,71,2016,11110,10100,52,5,4,4,65.59,2015,20151218,2010.0,34000
16,1.111010e+18,3000136,306,2016,11110,10100,56,74,2,4,100.35,2015,20151031,1995.0,28000
30,1.111010e+18,3000136,27,2013,11110,10100,56,45,2,1,129.76,2012,20121221,2000.0,50000
36,1.111010e+18,3000136,15,2013,11110,10100,56,45,5,1,78.78,2012,20121205,2000.0,33000
46,1.111010e+18,3000136,98,2019,11110,10100,56,45,4,1,78.78,2018,20181223,2000.0,49000
63,1.111010e+18,3000136,129,2012,11110,10100,89,5,1,4,84.96,2011,20110829,2002.0,35000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280316,1.123011e+18,26430,833,2018,11230,10800,57,11,5,9,16.80,2017,20171205,2017.0,10000
3280317,1.123011e+18,26430,1288,2018,11230,10900,319,39,10,9,43.08,2017,20171223,2012.0,20000
3280322,1.171011e+18,24010,45,2018,11710,10800,620,0,10,9,24.90,2017,20171108,2013.0,18500
3280325,1.174011e+18,24010,363,2018,11740,10700,441,0,3,9,29.90,2017,20171208,2003.0,12000
3280423,1.130510e+09,3080054,805,2019,11305,10300,0,0,1,2,39.60,2012,20120829,1986.0,6000
3280449,1.132011e+18,3090049,425,2019,11320,10500,315,272,2,4,51.75,2017,20171212,1996.0,10000
3280835,1.150010e+18,11030,25,2017,11500,10200,633,17,11,9,29.68,2016,20161231,2016.0,19500
3280836,1.123010e+18,11030,140,2017,11230,10200,112,8,8,9,18.48,2016,20161230,2014.0,10000
3280837,1.144013e+18,11030,464,2017,11440,12500,591,1,5,9,76.04,2016,20161112,2005.0,30000
3280838,1.156011e+18,11030,650,2017,11560,10800,94,355,5,9,17.90,2016,20161231,NaN,12500
3280840,1.162010e+18,11010,600,2017,11620,10300,602,58,5,9,21.83,2016,20161130,2000.0,10000
3280880,1.171011e+18,24010,6440,2018,11710,10800,622,0,9,9,26.82,2016,20160802,2013.0,17000

In [0]:
new_data.loc[2679999]

지번코드      1171010900A08950000
기관코드                  3230250
일련번호                  0000220
접수년도                     2016
자치구코드                   11710
법정동코드                   10900
본번                       0895
부번                       0000
층                           6
임대건물코드                      1
임대면적                    97.17
계약년도                     2016
계약일자                 20160407
건축년도                     2016
보증금                     40000
Name: 2679999, dtype: object