<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/seoulhouse_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
data = pd.read_csv("./gdrive/My Drive/Colab/final_set_seoul_house_200701_201906.csv" , encoding = 'utf-8')

In [4]:
data.head()

                                        key  접수년도  자치구코드  ...  계약년도      계약일자  건축년도
0  0000000111101010010074000130001360000457  2015  11110  ...  2015  20150623  1991
1  0000001111101010010056004130001360000005  2016  11110  ...  2015  20150921  2007
2  0000002111101010010050001030001360000505  2015  11110  ...  2015  20150822  2002
3  0000003111101010010052001830001360000637  2015  11110  ...  2015  20150902  2000
4  0000004111101010010052001830001360000129  2018  11110  ...  2015  20150902  2000

[5 rows x 20 columns]

In [8]:
data[data.임대료 !=0]

                                              key  접수년도  ...      계약일자  건축년도
1809009  1809009112301060010373000630500540001164  2011  ...  20111025  1997
1831494  1831494117101010010175001232300590000212  2011  ...  20110221  2004
1853692  1853692114401250010278000831300600000223  2014  ...  20140308  2003

[3 rows x 20 columns]

In [17]:
for col in data:
    print(col , ':' ,  data[col].unique().size , '/' , data[col].size)

key : 2016400 / 2016400
접수년도 : 10 / 2016400
자치구코드 : 35 / 2016400
자치구명 : 26 / 2016400
법정동코드 : 84 / 2016400
법정동명 : 407 / 2016400
본번 : 1822 / 2016400
부번 : 1330 / 2016400
건물명 : 66330 / 2016400
층 : 73 / 2016400
임대건물코드 : 4 / 2016400
임대건물명 : 4 / 2016400
임대면적 : 17284 / 2016400
전월세구분코드 : 1 / 2016400
전월세구분 : 1 / 2016400
보증금 : 5110 / 2016400
임대료 : 4 / 2016400
계약년도 : 13 / 2016400
계약일자 : 3108 / 2016400
건축년도 : 114 / 2016400

1    968146
2    528749
4    435149
9     84356
Name: 임대건물코드, dtype: int64

송파구     168405
강남구     130331
강서구     120994
강동구     112292
노원구     102106
서초구      99859
양천구      99262
관악구      92186
동작구      91845
마포구      91617
은평구      89297
영등포구     85030
광진구      80179
성북구      79389
구로구      78471
중랑구      70661
성동구      68333
동대문구     60301
도봉구      54348
서대문구     53177
용산구      52161
강북구      50433
금천구      40112
종로구      23180
중구       22416
Name: 자치구명, dtype: int64

1    2016400
Name: 전월세구분코드, dtype: int64