<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/seoulhouse_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!cat /etc/issue.net

Ubuntu 18.04.3 LTS

In [0]:
!cat /proc/cpuinfo

In [0]:
!cat /proc/meminfo

In [0]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
!cd gdrive/'My Drive'/Colab/; ls -al;

total 266812
-rw------- 1 root root    124484 May  7 10:57 digging1.ipynb
-rw------- 1 root root     27778 May  7 12:37 digging2.ipynb
-rw------- 1 root root 273061465 May  7 12:36 seoul_house_200701_201906.csv

In [7]:
import pandas as pd
df = pd.read_csv("./gdrive/My Drive/Colab/seoul_house_200701_201906.csv" , encoding = 'CP949')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

                  지번코드     기관코드  일련번호  접수년도  ...  임대료    계약년도      계약일자    건축년도
0  1111010100100740001  3000136   457  2015  ...    0  2015.0  20150623  1991.0
1  1111010100100560041  3000136     5  2016  ...    0  2015.0  20150921  2007.0
2  1111010100100500010  3000136   505  2015  ...    0  2015.0  20150822  2002.0
3  1111010100100520018  3000136   637  2015  ...    0  2015.0  20150902  2000.0
4  1111010100100520018  3000136   129  2018  ...    0  2015.0  20150902  2000.0

[5 rows x 22 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016400 entries, 0 to 2016399
Data columns (total 22 columns):
 #   Column   Dtype
---  ------   -----
 0   지번코드     object
 1   기관코드     int64
 2   일련번호     int64
 3   접수년도     int64
 4   자치구코드    int64
 5   자치구명     object
 6   법정동코드    int64
 7   법정동명     object
 8   본번       float64
 9   부번       float64
 10  건물명      object
 11  층        float64
 12  임대건물코드   float64
 13  임대건물명    object
 14  임대면적     float64
 15  전월세구분코드  float64
 16  전월세구분    object
 17  보증금      int64
 18  임대료      int64
 19  계약년도     float64
 20  계약일자     int64
 21  건축년도     float64
dtypes: float64(8), int64(8), object(6)
memory usage: 338.4+ MB