<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/seoulhouse_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!cat /etc/issue.net

Ubuntu 18.04.3 LTS

In [0]:
!cat /proc/cpuinfo

In [0]:
!cat /proc/meminfo

In [0]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [26]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [27]:
!cd gdrive/'My Drive'/drive/; ls -al;

total 266662
-rw------- 1 root root 273061465 May  7 12:36 seoul_house_200701_201906.csv

In [28]:
import pandas as pd
df = pd.read_csv("./gdrive/My Drive/drive/seoul_house_200701_201906.csv" , encoding = 'CP949')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.head()

                  지번코드     기관코드  일련번호  접수년도  ...  임대료    계약년도      계약일자    건축년도
0  1111010100100740001  3000136   457  2015  ...    0  2015.0  20150623  1991.0
1  1111010100100560041  3000136     5  2016  ...    0  2015.0  20150921  2007.0
2  1111010100100500010  3000136   505  2015  ...    0  2015.0  20150822  2002.0
3  1111010100100520018  3000136   637  2015  ...    0  2015.0  20150902  2000.0
4  1111010100100520018  3000136   129  2018  ...    0  2015.0  20150902  2000.0

[5 rows x 22 columns]