<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/seoulhouse_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
data = pd.read_csv("./gdrive/My Drive/Colab/final_set_seoul_house_200701_201906.csv" , encoding = 'utf-8')

In [0]:
data.head()

In [27]:
for col in data:
    print(col , ':' ,  data[col].unique().size , '/' , data[col].size)

key : 2016400 / 2016400
접수년도 : 10 / 2016400
자치구코드 : 35 / 2016400
자치구명 : 26 / 2016400
법정동코드 : 84 / 2016400
법정동명 : 407 / 2016400
본번 : 1822 / 2016400
부번 : 1330 / 2016400
건물명 : 66330 / 2016400
층 : 73 / 2016400
임대건물코드 : 4 / 2016400
임대건물명 : 4 / 2016400
임대면적 : 17284 / 2016400
전월세구분코드 : 1 / 2016400
전월세구분 : 1 / 2016400
보증금 : 5110 / 2016400
임대료 : 4 / 2016400
계약년도 : 13 / 2016400
계약일자 : 3108 / 2016400
건축년도 : 114 / 2016400

In [0]:
data ['key'] =data['key'].str.slice(0,26)

In [26]:
data.head()

                          key  접수년도  자치구코드 자치구명  ...  임대료  계약년도      계약일자  건축년도
0  00000001111010100100740001  2015  11110  종로구  ...    0  2015  20150623  1991
1  00000011111010100100560041  2016  11110  종로구  ...    0  2015  20150921  2007
2  00000021111010100100500010  2015  11110  종로구  ...    0  2015  20150822  2002
3  00000031111010100100520018  2015  11110  종로구  ...    0  2015  20150902  2000
4  00000041111010100100520018  2018  11110  종로구  ...    0  2015  20150902  2000

[5 rows x 20 columns]

In [0]:

99