<a href="https://colab.research.google.com/github/oftto/seoul_house/blob/master/seoulhouse_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!cat /etc/issue.net

Ubuntu 18.04.3 LTS

In [0]:
!cat /proc/cpuinfo

In [0]:
!cat /proc/meminfo

In [0]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [7]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
!cd gdrive/'My Drive'/Colab/; ls -al;

total 574437
-rw------- 1 root root    124484 May  7 10:57 digging1.ipynb
-rw------- 1 root root     27778 May  7 12:37 digging2.ipynb
-rw------- 1 root root 315008447 May 19 12:11 final_set_seoul_house_200701_201906.csv
-rw------- 1 root root 273061465 May  7 12:36 seoul_house_200701_201906.csv

In [9]:
import pandas as pd
df = pd.read_csv("./gdrive/My Drive/Colab/seoul_house_200701_201906.csv" , encoding = 'CP949')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head()

                  지번코드     기관코드  일련번호  접수년도  ...  임대료    계약년도      계약일자    건축년도
0  1111010100100740001  3000136   457  2015  ...    0  2015.0  20150623  1991.0
1  1111010100100560041  3000136     5  2016  ...    0  2015.0  20150921  2007.0
2  1111010100100500010  3000136   505  2015  ...    0  2015.0  20150822  2002.0
3  1111010100100520018  3000136   637  2015  ...    0  2015.0  20150902  2000.0
4  1111010100100520018  3000136   129  2018  ...    0  2015.0  20150902  2000.0

[5 rows x 22 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016400 entries, 0 to 2016399
Data columns (total 22 columns):
 #   Column   Dtype
---  ------   -----
 0   지번코드     object
 1   기관코드     int64
 2   일련번호     int64
 3   접수년도     int64
 4   자치구코드    int64
 5   자치구명     object
 6   법정동코드    int64
 7   법정동명     object
 8   본번       float64
 9   부번       float64
 10  건물명      object
 11  층        float64
 12  임대건물코드   float64
 13  임대건물명    object
 14  임대면적     float64
 15  전월세구분코드  float64
 16  전월세구분    object
 17  보증금      int64
 18  임대료      int64
 19  계약년도     float64
 20  계약일자     int64
 21  건축년도     float64
dtypes: float64(8), int64(8), object(6)
memory usage: 338.4+ MB

In [12]:
df.일련번호.max()

9000411

In [13]:
df[df.일련번호==9000411]

                        지번코드     기관코드     일련번호  ...    계약년도      계약일자    건축년도
2008484  1174011000106990000  3240086  9000411  ...  2019.0  20190619  2009.0

[1 rows x 22 columns]

In [0]:
df['일련번호'] = df.일련번호.astype(str).apply(lambda x: x.zfill(7))

In [15]:
df.기관코드.max()

9999999

In [0]:
df['기관코드'] = df.기관코드.astype(str).apply(lambda x: x.zfill(7))

In [17]:
print(max(df.지번코드.map(str).apply(len)))
print(min(df.지번코드.map(str).apply(len)))

19
10

In [0]:
df['지번코드'] = df.지번코드.astype(str).apply(lambda x: x.zfill(19))

In [0]:
data = df.reset_index()

In [0]:
data['index']= data['index'].astype(str).apply(lambda x: x.zfill(7))

In [21]:
data.head()

     index                 지번코드     기관코드  ...    계약년도      계약일자    건축년도
0  0000000  1111010100100740001  3000136  ...  2015.0  20150623  1991.0
1  0000001  1111010100100560041  3000136  ...  2015.0  20150921  2007.0
2  0000002  1111010100100500010  3000136  ...  2015.0  20150822  2002.0
3  0000003  1111010100100520018  3000136  ...  2015.0  20150902  2000.0
4  0000004  1111010100100520018  3000136  ...  2015.0  20150902  2000.0

[5 rows x 23 columns]

In [0]:
data['key'] =data['index'].map(str)+data.지번코드.map(str)+data.기관코드.map(str)+data.일련번호.map(str)

In [23]:
data.head()

     index  ...                                       key
0  0000000  ...  0000000111101010010074000130001360000457
1  0000001  ...  0000001111101010010056004130001360000005
2  0000002  ...  0000002111101010010050001030001360000505
3  0000003  ...  0000003111101010010052001830001360000637
4  0000004  ...  0000004111101010010052001830001360000129

[5 rows x 24 columns]

In [24]:
data.key.describe()

count                                      2016400
unique                                     2016400
top       1196301115901010010204000131900390001795
freq                                             1
Name: key, dtype: object

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016400 entries, 0 to 2016399
Data columns (total 24 columns):
 #   Column   Dtype
---  ------   -----
 0   index    object
 1   지번코드     object
 2   기관코드     object
 3   일련번호     object
 4   접수년도     int64
 5   자치구코드    int64
 6   자치구명     object
 7   법정동코드    int64
 8   법정동명     object
 9   본번       float64
 10  부번       float64
 11  건물명      object
 12  층        float64
 13  임대건물코드   float64
 14  임대건물명    object
 15  임대면적     float64
 16  전월세구분코드  float64
 17  전월세구분    object
 18  보증금      int64
 19  임대료      int64
 20  계약년도     float64
 21  계약일자     int64
 22  건축년도     float64
 23  key      object
dtypes: float64(8), int64(6), object(10)
memory usage: 369.2+ MB

In [27]:
na = data.isnull()
na_sum = na.sum()
na_sum = na_sum.sort_values(ascending = False)
na_sum

층          540320
건물명        528680
본번         528652
부번         528652
건축년도        42309
임대면적           25
자치구명           15
법정동명           15
지번코드            0
기관코드            0
일련번호            0
접수년도            0
자치구코드           0
법정동코드           0
key             0
임대건물코드          0
임대건물명           0
전월세구분코드         0
전월세구분           0
보증금             0
임대료             0
계약년도            0
계약일자            0
index           0
dtype: int64

In [28]:
data.corr()

             접수년도     자치구코드     법정동코드  ...      계약년도      계약일자      건축년도
접수년도     1.000000  0.008234 -0.008358  ...  0.983712  0.984189  0.106411
자치구코드    0.008234  1.000000 -0.288679  ...  0.010030  0.010159  0.006960
법정동코드   -0.008358 -0.288679  1.000000  ... -0.008394 -0.008412  0.005797
본번       0.007259 -0.001995  0.013872  ...  0.006138  0.006141  0.088351
부번      -0.005074 -0.084823  0.057335  ... -0.004427 -0.004532  0.026472
층        0.002427 -0.010653  0.022488  ...  0.001000  0.001167  0.082605
임대건물코드   0.074923  0.016292  0.011507  ...  0.080397  0.080277  0.177210
임대면적    -0.097113  0.057210  0.021030  ... -0.098599 -0.098409 -0.059012
전월세구분코드       NaN       NaN       NaN  ...       NaN       NaN       NaN
보증금      0.207444  0.174271  0.004308  ...  0.210271  0.211035  0.110640
임대료     -0.001296  0.000433  0.000025  ... -0.001242 -0.001255  0.000292
계약년도     0.983712  0.010030 -0.008394  ...  1.000000  0.999902  0.111094
계약일자     0.984189  0.010159 -0.008412  ...  0.999902  1.000000  0.111184
건축년도     0.106411  0.006960  0.005797  ...  0.111094  0.111184  1.000000

[14 rows x 14 columns]

In [0]:
data.본번 = data.본번.fillna(0).astype(int)
data.부번 = data.부번.fillna(0).astype(int)
data.층 = data.층.fillna(0).astype(int)
data.임대건물코드 = data.임대건물코드.fillna(0).astype(int)
data.전월세구분코드 = data.전월세구분코드.fillna(0).astype(int)
data.계약년도 = data.계약년도.fillna(0).astype(int)
data.건축년도 = data.건축년도.fillna(0).astype(int)

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016400 entries, 0 to 2016399
Data columns (total 24 columns):
 #   Column   Dtype
---  ------   -----
 0   index    object
 1   지번코드     object
 2   기관코드     object
 3   일련번호     object
 4   접수년도     int64
 5   자치구코드    int64
 6   자치구명     object
 7   법정동코드    int64
 8   법정동명     object
 9   본번       int64
 10  부번       int64
 11  건물명      object
 12  층        int64
 13  임대건물코드   int64
 14  임대건물명    object
 15  임대면적     float64
 16  전월세구분코드  int64
 17  전월세구분    object
 18  보증금      int64
 19  임대료      int64
 20  계약년도     int64
 21  계약일자     int64
 22  건축년도     int64
 23  key      object
dtypes: float64(1), int64(13), object(10)
memory usage: 369.2+ MB

In [0]:
data.head()

     index                 지번코드  ...  건축년도                                       key
0  0000000  1111010100100740001  ...  1991  0000000111101010010074000130001360000457
1  0000001  1111010100100560041  ...  2007  0000001111101010010056004130001360000005
2  0000002  1111010100100500010  ...  2002  0000002111101010010050001030001360000505
3  0000003  1111010100100520018  ...  2000  0000003111101010010052001830001360000637
4  0000004  1111010100100520018  ...  2000  0000004111101010010052001830001360000129

[5 rows x 24 columns]

In [0]:
final = pd.concat([data['key'],data.iloc[:,4:-1]], axis = 1)

In [0]:
final.head()

                                        key  접수년도  자치구코드  ...  계약년도      계약일자  건축년도
0  0000000111101010010074000130001360000457  2015  11110  ...  2015  20150623  1991
1  0000001111101010010056004130001360000005  2016  11110  ...  2015  20150921  2007
2  0000002111101010010050001030001360000505  2015  11110  ...  2015  20150822  2002
3  0000003111101010010052001830001360000637  2015  11110  ...  2015  20150902  2000
4  0000004111101010010052001830001360000129  2018  11110  ...  2015  20150902  2000

[5 rows x 20 columns]

In [0]:
final.to_csv("./gdrive/My Drive/Colab/final_set_seoul_house_200701_201906.csv" , index=False, encoding = 'utf-8')